@using NetInformatika.Views.Models;
@model LoginViewModel;
@{
    ViewData["Title"] = "Login";
}

<div class="auth container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <h2>Login</h2>
            <form method="post" action="login">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email address</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Enter password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <button type="submit" class="btn btn-primary">Login</button>
                <hr/>
                <a href="/register">Do not have an account?</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}